<div class="row" id="opacer">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <h2>Sign up</h2>


  <div class="field">
    <%= f.text_field :email, placeholder: 'E-mail', required: true, autofocus: true, :id=>"email" %>
  </div>

  <div class="field">
    <%= f.password_field :password,placeholder: 'Password (min. 6 chars.)', autocomplete: "off" %>
    <% if @minimum_password_length %>
    <% end %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: 'Password Confirmation' %>
  </div>
  <div class="actions" id="btnWrap">
    <ul>
      <li class="Btn">
        <%= f.submit "Sign up" %>
      </li>
    </ul>
  </div>
  <% end %>



</div>


<!-- <%= render "devise/shared/links" %> -->
