<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<div class="row">
  <p>Erstelle deine Gruppe:</p>
</div>

<div class="row" id="tableBg">

<div class="col">
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Password</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr class="tableContent">
          <td><%= group.username %></td>
          <td><%= link_to 'Show', group %></td>
          <td><%= link_to 'Edit', edit_group_path(group) %></td>
          <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
      </table>
</div>

<div class="col">
  <button type="submit" name="commit">
    <%= link_to 'New Group', new_group_path %>
  </button>
</div>





</div>

<button id="homeBtn" type="submit" name="commit">
  <%= link_to 'Back to Home', homes_path %>
</button>
