<div class="centering marginizer" id="tableBg">

<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @group.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @group.password %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
</div>
