<script src="//maps.google.com/maps/api/js?key=AIzaSyDNBOpxo7AavQMsZzs4YmA9KiVkzgQgIII"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->


<div class="full">
  <div class="col">
    <!-- <%= image_tag("categories.png")%> -->
    <div id="super">
      <p id="replace">New Record</p>
    </div>
  </div>
</div>

<div class="centering" id="tableBg">

<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="table borderless">
  <div class="row">
    <div class="col">
      <%= form.text_field :name, id: :record_name, placeholder: "Record Name" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form.text_area :description, id: :record_description,placeholder:"Your Description..." %>

    </div>
  </div>

  <div class="row" style="text-align: center;">
    <div class="col">
      <%= form.date_select :date, id: :record_date %>

    </div>
  </div>

  <div class="row" style="text-align: center;">
    <div class="col">
      <%= form.collection_select :category_id, Category.all, :id, :name %>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="field">
        <%= form.text_field :name, id: :location_name, placeholder: 'Location name' %>
      </div>

      <div class="field">
        <%= form.text_field :lat, id: :location_lat,id:"formLat", placeholder: 'Latitud' %>
      </div>

      <div class="field">
        <%= form.text_field :lng, id: :location_lng, id:"formLng", placeholder: 'Longitut' %>
      </div>
      <div class="field">
          <button type="button" id="getLocationInput" name="button" style="">Get Loc</button>
      </div>


    </div>
  </div>

  <div class="row">
    <div id="btnWrap">
      <ul>
        <li class="Btn">
          <%= form.submit %>
        </li>
      </ul>
    </div>
  </div>

  <div style='width: 700px;margin: 0 auto'>
    <div id="map" style='width: 700px; height: 400px;'></div>
  </div>


</div>

  <div class="col">
      <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i>'.html_safe, records_path %>
  </div>


<% end %>






<script type="text/javascript">

var lat,lng;



var myLatlng = {lat: 52.52, lng: 13.40};


function initMap() {


  console.log(myLatlng);

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: myLatlng,
  });

  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title: 'Click to zoom',
  });



  // map.addListener('center_changed', function() {
  //   // 3 seconds after the center of the map has changed, pan back to the
  //   // marker.
  //   window.setTimeout(function() {
  //     map.panTo(marker.getPosition());
  //   }, 3000);
  // });
  //
  // marker.addListener('click', function() {
  //   map.setZoom(8);
  //   map.setCenter(marker.getPosition());
  // });
}

initMap();


$("#getLocationInput").click(function(){
  lat = parseFloat($('#formLat').val());
  lng = parseFloat($('#formLng').val());

  myLatlng['lat'] = lat;
  myLatlng['lng'] = lng;

  initMap();

});



</script>


</div>
