<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="table borderless">
  <div class="row">
    <div class="col-2">
      <%= form.label :name %>

    </div>
    <div class="col">
      <%= form.text_field :name, id: :record_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <%= form.label :description %>

    </div>
    <div class="col">
      <%= form.text_area :description, id: :record_description %>

    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <%= form.label :date %>

    </div>
    <div class="col">
      <%= form.date_select :date, id: :record_date %>

    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" name="commit">
        <%= link_to 'Back', categories_path %>
      </button>
    </div>
  </div>
</div>




<% end %>
