<div class="full">
  <div class="col">
    <!-- <%= image_tag("categories.png")%> -->
    <div id="super">
      <p id="replace">New Record</p>
    </div>
  </div>
</div>

<div class="centering" id="tableBg">

<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="table borderless">
  <div class="row">
    <div class="col">
      <%= form.text_field :name, id: :record_name, placeholder: "Record Name" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form.text_area :description, id: :record_description,placeholder:"Your Description..." %>

    </div>
  </div>

  <div class="row" style="    text-align: center;">
    <div class="col">
      <%= form.date_select :date, id: :record_date %>

    </div>
  </div>

  <div class="row">
<<<<<<< HEAD
    <div id="btnWrap">
      <ul>
        <li class="Btn">
          <%= form.submit %>
        </li>
      </ul>
=======
    <div class="col-2">
      <%= form.label :category %>

    </div>
    <div class="col">
      <%= form.collection_select :category_id, Category.all, :id, :name %>

    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="actions">
        <%= form.submit %>
      </div>
>>>>>>> master
    </div>
  </div>


</div>

<div class="row">
  <div class="col">
      <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i>'.html_safe, records_path %>
  </div>
</div>


<% end %>

</div>
