<p id="notice"><%= notice %></p>




<h1>Categories</h1>

<div class="row">
  <p>Aktuelle Kategorien</p>
</div>

<div class="row" id="tableBg">


<div class="col">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <!-- <th colspan="3"></th> -->
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td class="cat"><%= category.name %></td>
          <td><%= link_to 'Show', category %></td>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
          <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col">
  <button type="submit" name="commit">
    <%= link_to 'Add New Category', new_category_path %>
  </button>
</div>



</div>


<button id="homeBtn" type="submit" name="commit">
  <%= link_to 'Back to Home', homes_path %>
</button>
