<header>


<%= link_to ("<div class='logo'>
  <h1 style='color:red'>R</h1><h1 style='color:blue'>E</h1><h1 style='color:yellow'>K</h1><h1 style='color:blue'>O</h1><h1 style='color:green'>R</h1><h1 style='color:pink'>D</h1><h1 style='color:brown'>S</h1>
</div>
").html_safe, homes_path %>

<div class="menu">
  <%= link_to 'Profile', profiles_path %>
  <%= link_to 'Category', categories_path %>
  <%= link_to 'Records', records_path %>
  <%= link_to 'Groups', groups_path %>
  <%= link_to 'Profiles', profiles_path %>
</div>

</header>
