<!DOCTYPE html>
<html>
  <head>
    <title>Rekords</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="app-cont app-cont-thin">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <div class="sidebar">
      <div class="verticalSidebar">
        <h1>S</h1>
        <h1>i</h1>
        <h1>d</h1>
        <h1>e</h1>
        <h1>b</h1>
        <h1>a</h1>
        <h1>r</h1>
      </div>
      <%= render 'layouts/sidebar' %>
    </div>

  </body>

</html>
